.alinhamento{
    text-align: center;
    width: 500px;
    margin: auto;
}

.topo{
    background-color: #6D6875;
    color: white;
}

button{
    font-size:25px;
    border-radius: 10px;
}

.info{
    font-size:25px;
}

.tabuleiro{
    text-align: center;
    border: 1px solid #000000;
    background-color: #E5898B;
    padding: 20px;
}

.resultado{
    font-size:25px;
    color: black;
    background-color:#6D6875;
    border-radius: 25px;
    border: 1px solid #6D6875;
}